<html>

<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/main.css">

    <script src="js/myClasses.js"></script>
    <script src="js/myComponents.js"></script>


</head>

<body>
    <div class="container">
        <h3 class=" text-center">Окно чата</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <inbox-people>
                    <users-search :filter_text="strForUsersFiltered" :cb_modify_filter_text="modifyFilterText"></users-search>
                    <users-in-chat>
                        <user-in-chat v-for="(user,index) in getUsersByFilter" :user="user" :key="index" :index="index" :fn_start_messages="startMessages"></user-in-chat>
                    </users-in-chat>
                </inbox-people>

                <div class="mesgs">
                    <msg-history ref="msg-history">
                        <message v-for="(msg,index) in getActiveUserMessages" :msg="msg" :key="index" :active_user="activeUser"></message>
                    </msg-history>
                    <add-message :fn_add_message="addMessage"></add-message>
                </div>
            </div>
            <p class="text-center top_spac "> Design by <a target="_blank " href="https://bootsnipp.com/snippets/1ea0N ">Sunil Rajput</a></p>
        </div>
    </div>

    <script>
        let eventBus = new Vue();

        const store = new Vuex.Store({
            state: {
                users: [],
                activeUser: undefined,
                strForUsersFiltered: '',
            },
            getters: {
                getUsersByFilter(state, getters) {
                    if (state.strForUsersFiltered)
                        return state.users.filter((elm) => {
                            return (elm.name.toLowerCase().includes(state.strForUsersFiltered.toLowerCase()) || elm.about.toLowerCase().includes(state.strForUsersFiltered.toLowerCase()));
                        });
                    else
                        return state.users;

                },
                getActiveUserMessages(state, getters) {
                    if (state.activeUser)
                        return state.activeUser.messages;
                    else
                        return [];
                },
            },
            mutations: {
                modifyFilterText(state, strFilter) {
                    state.strForUsersFiltered = strFilter;
                },
                addUsers(state, arrUsers) {
                    arrUsers.forEach((elm) => {
                        state.users.push(elm);
                    });
                },
                startMessages(state, user) {
                    state.users.forEach((elm) => {
                        elm.status = false;
                    });
                    user.status = true;
                    state.activeUser = user;
                    eventBus.$emit('userchange');
                },
            },
            actions: {
                loadData(context) {
                    context.commit('addUsers', getUsers());
                },
                addMessage(context, newMessage) {
                    if ((context.state.activeUser) && (newMessage)) {
                        context.state.activeUser.addMessage(newMessage, 1);
                        setTimeout(() => setRandomMessage(context.state.activeUser), 1250);
                    }
                },
            }
        });
        store.dispatch('loadData');




        const app = new Vue({
            el: ".container ",
            data: {},
            store: store,
            methods: {
                ...Vuex.mapMutations(['startMessages', 'modifyFilterText']),
                ...Vuex.mapActions(['addMessage']),

            },
            computed: {
                ...Vuex.mapState(['activeUser', 'strForUsersFiltered']),
                ...Vuex.mapGetters(['getUsersByFilter', 'getActiveUserMessages']),
            },
            mounted() {
                let observer = new MutationObserver(function(records) {
                    let domDiv = records[0].target;
                    domDiv.scrollTop = domDiv.scrollHeight;
                });
                observer.observe(this.$refs["msg-history"].$el, {
                    childList: true,
                    subtree: true,
                });
            },
        });
    </script>

</body>

</html>