<html>

<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="js/myClasses.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="container">
        <h3 class=" text-center">Окно чата</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Активные</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Поиск" v-model="strForUsersFiltered">
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div v-for="(user,index) in getUsersByFilter" @click="startMessages(user)" :class="[{chat_list:true},{active_chat:user.status}]">
                            <div class="chat_people">
                                <div class="chat_img"> <img :src="user.img" :alt="user.name"> </div>
                                <div class="chat_ib">
                                    <h5>{{user.name}}&nbsp;<span class="chat_date">{{user.getDate()}}</span></h5>
                                    <p>{{user.about}}</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="mesgs">
                    <div class="msg_history">

                        <div v-for="msg in getActiveUserMessages">
                            <div v-if="msg.direction==0" class="incoming_msg">
                                <div class="incoming_msg_img"> <img :src="activeUser.img" :alt="activeUser.name"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{msg.text}}
                                        </p>
                                        <span class="time_date">{{msg.getDateForHtml()}}</span></div>
                                </div>
                            </div>

                            <div v-else class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>{{msg.text}}</p>
                                    <span class="time_date">{{msg.getDateForHtml()}}</span> </div>
                            </div>
                        </div>

                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg px-2" placeholder="Type a message" v-model="newMessage" v-on:keyup.enter="addMessage()" />
                            <button class="msg_send_btn mx-2" type="button" @click="addMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>


            <p class="text-center top_spac"> Design by <a target="_blank" href="https://bootsnipp.com/snippets/1ea0N">Sunil Rajput</a></p>

        </div>
    </div>

    <script>
        const app = new Vue({
            el: ".container",
            data: {
                users: getUsers(),
                strForUsersFiltered: '',
                activeUser: '',
                newMessage: '',
                info: '',
            },
            methods: {
                startMessages(user) {
                    this.users.forEach((elm) => {
                        elm.status = false;
                    });
                    user.status = true;
                    this.activeUser = user;
                    this.newMessage = "";
                },
                addMessage() {
                    if ((this.activeUser) && (this.newMessage)) {
                        this.activeUser.addMessage(this.newMessage, 1);
                        setTimeout(() => setRandomMessage(this.activeUser), 1250);
                    }
                },
            },
            computed: {
                getUsersByFilter: function() {
                    if (this.strForUsersFiltered)
                        return this.users.filter((elm) => {
                            return (elm.name.toLowerCase().includes(this.strForUsersFiltered.toLowerCase()) || elm.about.toLowerCase().includes(this.strForUsersFiltered.toLowerCase()));
                        });
                    else
                        return this.users;

                },
                getActiveUserMessages: function() {
                    if (this.activeUser)
                        return this.activeUser.messages;
                    else
                        return [];
                }
            },
            watch: {

            },
            mounted() {

            },
            created() {
                //this.users = 
            }

        });
    </script>

</body>

</html>