body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    min-height: 600px;
    margin: 5px auto;
    display: flex;
    border: 1px solid black;
}

.left-side {
    flex: 85%;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.right-side {
    flex: 15%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid black;
}

.right-side button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 35px;
    width: 125px;
    margin: 5px;
}

.items-container {
    margin: 50px 0px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(10, 70px);
}

.items-container>div {
    border-radius: 5px;
    cursor: pointer;
    border: 2px gray solid;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
}

.fs1 {
    font-size: 16px;
}

.fs2 {
    font-size: 18px;
}

.fs3 {
    font-size: 20px;
}

.fc1 {
    color: blue;
}

.fc2 {
    color: darkslategray;
}

.fc3 {
    color: black;
}

.checked-success {
    background-color: aquamarine;
}

.checked-error {
    background-color: orangered;
}

.div-list-move {
    transition: transform 1.5s;
}